# Global (should be in global file of your system)
*~
.DS_Store

# IDE
.idea
.vscode

# Dependency managers (for this setup just composer)
vendor/

# Project specific
app/logs/
app/config/settings.php
public/images
.php_cs.cache
*.cache
